<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header><h2>New Treatment for {{'{'}}patient{{'}'}}</h2></nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="drug-name" class="label col-sm-3 form-control-label">Drug name</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="drug-name" placeholder="Drug name">
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-dose" class="label col-sm-3 form-control-label">Dose</label>
            <div class="col-sm-3">
              <input type="number" nbInput fullWidth id="drug-dose" placeholder="Dose">
            </div>
            <label for="drug-dose-unit" class="label col-sm-2 form-control-label">Units</label>
            <div class="col-sm-4">
              <nb-select fullWidth id="drug-dose-unit" placeholder="Select a unit">
                <nb-option value="Capsule(s)">Capsule(s)</nb-option>
                <nb-option value="Tablet(s)">Tablet(s)</nb-option>
                <nb-option value="ml">ml</nb-option>
                <nb-option value="mg">mg</nb-option>
                <nb-option value="IU">IU</nb-option>
                <nb-option value="Drop">Drop</nb-option>
                <nb-option value="Tablespoon">Tablespoon</nb-option>
                <nb-option value="Teaspoon">Teaspoon</nb-option>
                <nb-option value="Unit(s)">Unit(s)</nb-option>
                <nb-option value="Puff(s)">Puff(s)</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-frequency" class="label col-sm-3 form-control-label">Frequency</label>
            <div class="col-sm-9">
              <nb-select fullWidth id="drug-frequency" placeholder="Select a frequency">
                <nb-option value="Immediately">Immediately</nb-option>
                <nb-option value="Once a day">Once a day</nb-option>
                <nb-option value="Twice a day">Twice a day</nb-option>
                <nb-option value="Thrice a day">Thrice a day</nb-option>
                <nb-option value="Four times a day">Four times a day</nb-option>
                <nb-option value="Every Hour">Every Hour</nb-option>
                <nb-option value="Every 2 hours">Every 2 hours</nb-option>
                <nb-option value="Every 3 hours">Every 3 hours</nb-option>
                <nb-option value="Every 4 hours">Every 4 hours</nb-option>
                <nb-option value="Every 6 hours">Every 6 hours</nb-option>
                <nb-option value="Every 8 hours">Every 8 hours</nb-option>
                <nb-option value="Every 12 hours">Every 12 hours</nb-option>
                <nb-option value="On alternate days">On alternate days</nb-option>
                <nb-option value="Once a week">Once a week</nb-option>
                <nb-option value="Twice a week">Twice a week</nb-option>
                <nb-option value="Thrice a week">Thrice a week</nb-option>
                <nb-option value="Every 2 weeks">Every 2 weeks</nb-option>
                <nb-option value="Every 3 weeks">Every 3 weeks</nb-option>
                <nb-option value="Once a month">Once a month</nb-option>
                <nb-option value="Five times a day">Five times a day</nb-option>
                <nb-option value="Four days a week">Four days a week</nb-option>
                <nb-option value="Five days a week">Five days a week</nb-option>
                <nb-option value="Six days a week">Six days a week</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-route" class="label col-sm-3 form-control-label">Route</label>
            <div class="col-sm-9">
              <nb-select fullWidth id="drug-route" placeholder="Select a Route">
                <nb-option value="Intramuscular">Intramuscular</nb-option>
                <nb-option value="Intravenous">Intravenous</nb-option>
                <nb-option value="Oral">Oral</nb-option>
                <nb-option value="Per Vaginal">Per Vaginal</nb-option>
                <nb-option value="Sub Cutaneous">Sub Cutaneous</nb-option>
                <nb-option value="Per Rectum">Per Rectum</nb-option>
                <nb-option value="Sub Lingual">Sub Lingual</nb-option>
                <nb-option value="Nasogastric">Nasogastric</nb-option>
                <nb-option value="Intradermal">Intradermal</nb-option>
                <nb-option value="Intraperitoneal">Intraperitoneal</nb-option>
                <nb-option value="Intrathecal">Intrathecal</nb-option>
                <nb-option value="Intraosseous">Intraosseous</nb-option>
                <nb-option value="Topical">Topical</nb-option>
                <nb-option value="Nasal">Nasal</nb-option>
                <nb-option value="Inhalation">Inhalation</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-duration" class="label col-sm-3 form-control-label">Duration</label>
            <div class="col-sm-3">
              <input type="number" nbInput fullWidth id="drug-duration" placeholder="Duration">
            </div>
            <label for="drug-duration-unit" class="label col-sm-2 form-control-file">Units</label>
            <div class="col-sm-4">
              <nb-select fullWidth id="drug-duration-unit" placeholder="Select a unit">
                <nb-option value="Day(s)">Day(s)</nb-option>
                <nb-option value="Day(s)">Week(s)</nb-option>
                <nb-option value="Day(s)">Month(s)</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-instructions" class="label col-sm-3 form-control-label">Instructions</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth id="drug-instructions"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="warning">Save</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
