<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header><h2>New Treatment</h2></nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="drug-name" class="label col-sm-3 form-control-label">Drug name</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="drug-name" placeholder="Drug name">
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-dose" class="label col-sm-3 form-control-label">Dose</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="drug-dose" placeholder="Dose">
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-frequency" class="label col-sm-3 form-control-label">Frequency</label>
            <div class="col-sm-9">
              <nb-select fullWidth id="drug-frequency" selected="0">
                <nb-option value="0" disabled>Select a frequency</nb-option>
                <nb-option value="Immediately">Immediately</nb-option>
                <nb-option value="Once a day">Once a day</nb-option>
                <nb-option value="Twice a day">Twice a day</nb-option>
                <nb-option value="Thrice a day">Thrice a day</nb-option>
                <nb-option value="Four times a day">Four times a day</nb-option>
                <nb-option value="Every Hour">Every Hour</nb-option>
                <nb-option value="Every 2 hours">Every 2 hours</nb-option>
                <nb-option value="Every 3 hours">Every 3 hours</nb-option>
                <nb-option value="Every 4 hours">Every 4 hours</nb-option>
                <nb-option value="Every 6 hours">Every 6 hours</nb-option>
                <nb-option value="Every 8 hours">Every 8 hours</nb-option>
                <nb-option value="Every 12 hours">Every 12 hours</nb-option>
                <nb-option value="On alternate days">On alternate days</nb-option>
                <nb-option value="Once a week">Once a week</nb-option>
                <nb-option value="Twice a week">Twice a week</nb-option>
                <nb-option value="Thrice a week">Thrice a week</nb-option>
                <nb-option value="Every 2 weeks">Every 2 weeks</nb-option>
                <nb-option value="Every 3 weeks">Every 3 weeks</nb-option>
                <nb-option value="Once a month">Once a month</nb-option>
                <nb-option value="Five times a day">Five times a day</nb-option>
                <nb-option value="Four days a week">Four days a week</nb-option>
                <nb-option value="Five days a week">Five days a week</nb-option>
                <nb-option value="Six days a week">Six days a week</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-route" class="label col-sm-3 form-control-label">Route</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="drug-route" placeholder="Route">
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-duration" class="label col-sm-3 form-control-label">Duration</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="drug-duration" placeholder="Duration">
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-instructions" class="label col-sm-3 form-control-label">Instructions</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth id="drug-instructions"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="warning">Save</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
