<div class="row" *ngIf="patient">
  <div class="col-12 mb-2">
    <h2><i class="fa fa-notes-medical mr-2"></i>
      <ng-container i18n>Health Records for</ng-container>
      {{patient.firstName}} {{patient.lastName}}</h2>
  </div>

  <div class="col-12 col-md-4">
    <nb-card class="cursor-pointer" (click)="navigate('medication')">
      <div class="icon-container">
        <div class="icon status-warning">
          <i class="icon fa fa-prescription-bottle-alt"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h6" i18n>New Medication Request</div>
      </div>
    </nb-card>
  </div>

  <div class="col-12 col-md-4 cursor-pointer">
    <nb-card class="cursor-pointer" (click)="navigate('service')">
      <div class="icon-container">
        <div class="icon status-info">
          <i class="icon fa fa-vial"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h6" i18n>New Blood Glucose Measurement Order</div>
      </div>
    </nb-card>
  </div>

</div>

<div class="row mt-3">
  <div class="col-12 mb-3">
    <app-treatments></app-treatments>
  </div>

  <div class="col-12">
    <app-glucose-levels></app-glucose-levels>
  </div>
</div>
