<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-12">
        <h2 i18n>
          Care plan
        </h2>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-care-plan-details [patient]="patient" [carePlan]="carePlan"></app-care-plan-details>

    <div class="row mb-2">
      <div class="col-12">
        <hr/>
      </div>
    </div>

    <div class="row my-4" *ngIf="resources">
      <div class="col mb-3 d-flex">
        <h4 class="align-self-center">
          <ng-container i18n>Medication Requests</ng-container>
        </h4>
      </div>

      <div class="col-12">
        <ng-container *ngFor="let medicationRequest of medicationRequests">
          <app-medication-request-view
            class="d-block mb-3"
            [medicationRequestView]="medicationRequest"
            [editButton]="false">
          </app-medication-request-view>
        </ng-container>
      </div>
    </div>

    <div class="row" *ngIf="resources">
      <div class="col mb-3 d-flex">
        <h4 class="align-self-center">
          <ng-container i18n>Blood Glucose Measurements</ng-container>
        </h4>
      </div>

      <div class="col-12 mb-3">
        <ng-container *ngFor="let serviceRequest of serviceRequests">
          <app-service-request-view
            class="d-block mb-3"
            [serviceRequestView]="serviceRequest"
            [editButton]="false">
          </app-service-request-view>
        </ng-container>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-12">
        <button nbButton (click)="goBack()" i18n="Return button">
          Return
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
