<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-12">
        <h2 i18n>
          Care plan
        </h2>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-care-plan-details [patient]="patient" [carePlan]="carePlan"></app-care-plan-details>

    <div class="row mb-2">
      <div class="col-12">
        <hr />
      </div>
    </div>

    <div class="row my-4" *ngIf="resources">
      <div class="col mb-3 d-flex">
        <h4 class="align-self-center">
          <ng-container i18n>Medication Requests</ng-container>
        </h4>
      </div>

      <div class="col-12">
        <div class="row mb-3" *ngFor="let medicationRequest of medicationRequests">
          <div class="col-auto pr-0 action">
            <div class="icon-container">
              <div class="icon status-info">
                <i class="icon fas fa-pills"></i>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="row">
              <div class="col-12">
                <b>{{ getMedicationName(medicationRequest) }}</b>
              </div>
              <ng-container *ngFor="let dosage of medicationRequest.dosageInstruction">
                <div class="col-12">
                  <span>{{ getDoseText(dosage) }}</span>
                </div>
                <div class="col-12">
                  <span>{{ getWhenToTakeText(dosage.timing.repeat) }}</span> - <span>{{ getFrequencyText(dosage.timing.repeat) }}</span>
                </div>
                <div class="col-12">
                  <span class="text-hint">{{ getTimingStringDuration(dosage.timing.repeat) }}</span>
                </div>
                <div class="col-12 mt-2">
                  <i><span i18n>Note for patient:</span> {{ medicationRequest.note[0].text }}</i>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row"  *ngIf="resources">
      <div class="col mb-3 d-flex">
        <h4 class="align-self-center">
          <ng-container i18n>Blood Glucose Measurements</ng-container>
        </h4>
      </div>

      <div class="col-12">
        <div class="row mb-3" *ngFor="let serviceRequest of serviceRequests">
          <div class="col-auto pr-0 mb-3 action">
            <div class="icon-container">
              <div class="icon status-warning">
                <i class="icon fas fa-vial"></i>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="row">
              <div class="col-auto">
                <div class="row mb-1" *ngFor="let dayWhen of serviceRequest.dayWhen">
                  <div class="col">
                    <b>{{ dayStringFromCode(dayWhen.day) }}:</b>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row mb-1" *ngFor="let dayWhen of serviceRequest.dayWhen">
                  <span>{{ whenArrayToString(dayWhen.when) }}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-2">
                <span>{{ serviceRequest.duration }}</span>
              </div>
              <div class="col-12 mt-2">
                <i><span i18n>Note for patient:</span> {{ serviceRequest.patientInstruction }}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-12">
        <button nbButton (click)="goBack()" i18n="Return button">
          Return
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
