<nb-card>
  <nb-card-header *ngIf="patient"><h2>Orders for {{patient.firstName + ' ' + patient.lastName}}</h2></nb-card-header>
  <nb-card-body>
    <ng2-smart-table class="order-table"
                     (userRowSelect)="viewOrder($event)"
                     [settings]="settings"
                     [source]="source">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer *ngIf="patient">
    <div class="row">
      <div class="col-2">
        <button type="button" nbButton status="basic" (click)="goBack()">Return</button>
      </div>
      <div class="col-10 text-right">
        <button class="mr-3" type="button" nbButton status="primary" (click)="navigate('medication')">
          <nb-icon icon="plus"></nb-icon>
          Medication Order
        </button>
        <button type="button" nbButton status="success" (click)="navigate('service')">
          <nb-icon icon="plus"></nb-icon>
          Blood Glucose Order
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
