<nb-card>
  <nb-card-header>
    <div class="row align-items-center">
      <div class="col-6">
        <h4 class="mb-0" i18n>Edit record</h4>
      </div>
      <div class="col-6 text-right">
        <button nbButton type="button" status="danger">
          <nb-icon class="icon" icon="trash" pack="eva"></nb-icon>
          <span i18n>Delete</span>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="observationForm" (ngSubmit)="submitForm()">
      <div class="form-group row">
        <label for="observation-value" class="col-form-label col-sm-3 form-control-label text-sm-right"
               i18n>Value</label>
        <div class="col-sm-9">
          <nb-form-field>
            <input type="number" nbInput fullWidth id="observation-value" i18n-placeholder="Placeholder"
                   class="input-units"
                   placeholder="Value"
                   autocomplete="off"
                   [formControl]="valueControl">
            <span class="units-label" nbSuffix i18n>mmo/l</span>
          </nb-form-field>
          <ng-container *ngIf="isControlInvalid(valueControl)">
            <span class="text-danger" i18n>A value is required</span>
          </ng-container>
        </div>
      </div>
      <div class="form-group row">
        <label for="observation-date" class="col-form-label col-sm-3 form-control-label text-sm-right" i18n>Date</label>
        <div class="col-sm-9">
          <input id="observation-date" nbInput fullWidth i18n-placeholder="Placeholder" placeholder="Date"
                 autocomplete="off"
                 [nbDatepicker]="datePicker">
          <nb-date-timepicker #datePicker></nb-date-timepicker>
        </div>
      </div>
      <div class="form-group row">
        <label for="observation-timing" class="col-form-label col-sm-3 form-control-file text-sm-right"
               i18n>Timing</label>
        <div class="col-sm-9">
          <nb-select fullWidth id="observation-timing" i18n-placeholder="Placeholder"
                     placeholder="Timing">
            <nb-option *ngFor="let time of timesOfDay" [value]="time.value">
              {{ time.name }}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-6">
        <button type="button" nbButton status="basic" (click)="close()"
                [disabled]="formStatus === formStatusType.loading || formStatus === formStatusType.success">
          <ng-container i18n>Cancel</ng-container>
        </button>
      </div>
      <div class="col-6 text-right">
        <button type="submit" nbButton status="success"
                [disabled]="formStatus === formStatusType.loading || formStatus === formStatusType.success">
          <ng-container i18n>Save</ng-container>
        </button>
      </div>
      <div class="col-12 mt-3 text-center" *ngIf="formStatus === formStatusType.error">
        <nb-alert accent="danger">
          <span i18n>There was a problem saving the record</span>
        </nb-alert>
      </div>
      <div class="col-12 mt-3" *ngIf="formStatus === formStatusType.success">
        <nb-alert accent="success">
          <div class="row">
            <div class="col-7">
              <span i18n>The record has been saved</span>
            </div>
            <div class="col-5 text-right">
              <button type="button" nbButton status="success" (click)="close()" i18n="Return button">Return</button>
            </div>
          </div>
        </nb-alert>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
