<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header *ngIf="patient"><h2>New Medication Order for {{patient.name}}</h2></nb-card-header>
      <nb-card-body>
        <form [formGroup]="medicationForm" (ngSubmit)="submitForm()" class="form-horizontal">
          <div class="form-group row">
            <label for="drug-name" class="col-form-label col-sm-3 form-control-label">Drug name</label>
            <div class="col-sm-9">
              <input id="drug-name"
                     nbInput
                     fullWidth
                     type="text"
                     [formControl]="medicationControl"
                     placeholder="Drug name"
                     [nbAutocomplete]="auto" />
              <nb-autocomplete #auto (selectedChange)="onDrugSelectionChange($event)" [handleDisplayFn]="getMedicationName">

                <nb-option *ngFor="let medication of filteredMedications | async" [value]="medication">
                  {{ getMedicationName(medication) }}
                </nb-option>

              </nb-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-dose" class="col-form-label col-sm-3 form-control-label">Dose</label>
            <div class="col-sm-3">
              <input type="number" nbInput fullWidth id="drug-dose" placeholder="Dose" [formControl]="doseQuantityControl">
            </div>
            <label for="drug-dose-unit" class="col-form-label col-sm-2 form-control-label text-right">Units</label>
            <div class="col-sm-4">
              <nb-select fullWidth id="drug-dose-unit" placeholder="Select a unit" [formControl]="doseUnitControl">
                <nb-select-label>
                  {{ getUnitName() }}
                </nb-select-label>
                <nb-option *ngFor="let quantity of quantities" [value]="quantity">
                  {{quantity.extension[0].valueString}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="drug-frequency" class="col-form-label col-sm-3 form-control-label">Frequency</label>
            <div class="col-sm-9">
              <div class="form-group row">
                <div class="col-12">
                  <nb-radio-group [(value)]="dailyFrequencySelected">
                    <nb-radio [value]="dailyFrequencyType.everyday">Every day</nb-radio>
                    <nb-radio [value]="dailyFrequencyType.specificDays">Specific day(s)</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-12" *ngIf="dailyFrequencySelected === dailyFrequencyType.specificDays">
                  <nb-checkbox class="form-check-inline">Monday</nb-checkbox>
                  <nb-checkbox class="form-check-inline">Tuesday</nb-checkbox>
                  <nb-checkbox class="form-check-inline">Wednesday</nb-checkbox>
                  <nb-checkbox class="form-check-inline">Thursday</nb-checkbox>
                  <nb-checkbox class="form-check-inline">Friday</nb-checkbox>
                  <nb-checkbox class="form-check-inline">Saturday</nb-checkbox>
                  <nb-checkbox class="form-check-inline">Sunday</nb-checkbox>
                </div>
                <div class="col-12 mt-3">
                  <nb-button-group (valueChange)="frequencySelected = $event[0]">
                    <button type="button" nbButtonToggle pressed [value]="frequencyType.timesPerDay">Times per day</button>
                    <button type="button" nbButtonToggle [value]="frequencyType.mealTime">At a meal time</button>
                    <button type="button" nbButtonToggle [value]="frequencyType.specificTimes">At specific times</button>
                  </nb-button-group>
                </div>
                <ng-container [ngSwitch]="frequencySelected">
                  <div class="col-12 mt-3" *ngSwitchCase="frequencyType.timesPerDay">
                    <nb-select fullWidth id="drug-frequency" placeholder="Select a frequency">
                      <nb-option value="Once a day">Once a day</nb-option>
                      <nb-option value="Twice a day">Twice a day</nb-option>
                      <nb-option value="Thrice a day">Thrice a day</nb-option>
                      <nb-option value="Four times a day">Four times a day</nb-option>
                    </nb-select>
                  </div>
                  <div class="col-12 mt-3" *ngSwitchCase="frequencyType.mealTime">
                    <div class="row form-group">
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>Before breakfast</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>At breakfast</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>After breakfast</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>Before lunch</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>At lunch</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>After lunch</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>Before dinner</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>At dinner</nb-checkbox>
                      </div>
                      <div class="col-12 col-sm-4">
                        <nb-checkbox>After dinner</nb-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3" *ngSwitchCase="frequencyType.specificTimes">
                    <div class="row form-group">
                      <div class="col-9 col-sm-6">
                        <input nbInput
                               fullWidth
                               type="text"
                               [nbTimepicker]="timepicker"/>
                        <nb-timepicker #timepicker></nb-timepicker>
                      </div>
                      <div class="col-3 col-sm-6">
                        <button nbButton status="basic"><nb-icon icon="plus"></nb-icon></button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="drug-duration" class="col-form-label col-sm-3 form-control-label">Duration</label>
            <div class="col-sm-9">
              <div class="form-group row">
                <div class="col-12 mb-3">
                  <nb-button-group (valueChange)="durationSelected = $event[0]">
                    <button type="button" nbButtonToggle pressed [value]="durationType.duration">By amount of time</button>
                    <button type="button" nbButtonToggle [value]="durationType.period">By dates</button>
                    <button type="button" nbButtonToggle [value]="durationType.untilNext">Until next appointment</button>
                  </nb-button-group>
                </div>
                <ng-container [ngSwitch]="durationSelected">
                  <div class="col-12" *ngSwitchCase="durationType.duration">
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <input type="number" nbInput fullWidth id="drug-duration" placeholder="Duration">
                      </div>
                      <label for="drug-duration-unit" class="col-form-label col-4 col-sm-2 form-control-file text-right">Units</label>
                      <div class="col-8 col-sm-6">
                        <nb-select fullWidth id="drug-duration-unit" placeholder="Select a time unit">
                          <nb-option value="Day(s)">Day(s)</nb-option>
                          <nb-option value="Day(s)">Week(s)</nb-option>
                          <nb-option value="Day(s)">Month(s)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngSwitchCase="durationType.period">
                    <div class="form-group row">
                      <label for="drug-duration-range" class="col-form-label col-sm-3 form-control-file text-right">Date range</label>
                      <div class="col-sm-9">
                        <input id="drug-duration-range" nbInput fullWidth placeholder="Select a date range" [nbDatepicker]="rangePicker">
                        <nb-rangepicker #rangePicker></nb-rangepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngSwitchCase="durationType.untilNext">
                    <div class="form-group row">
                      <label for="drug-duration-start-date" class="col-form-label col-sm-3 form-control-file text-right">Start date</label>
                      <div class="col-sm-9">
                        <input id="drug-duration-start-date" nbInput fullWidth placeholder="Select the start date" [nbDatepicker]="datepicker">
                        <nb-datepicker #datepicker></nb-datepicker>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-instructions" class="col-form-label col-sm-3 form-control-label">Instructions</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth id="drug-instructions" [formControl]="instructionsControl"></textarea>
            </div>
          </div>
          <div class="mt-4 form-group row">
            <div class="col-6 col-sm-8 text-right">
              <button nbButton status="basic" (click)="goBack()">Cancel</button>
            </div>
            <div class="col-6 offset-sm-1 col-sm-3 text-right">
              <button type="submit" nbButton status="warning">Save</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
