<div class="row">
  <div class="col-lg-12 col-xl-9">
    <nb-card>
      <nb-card-header *ngIf="patient">
        <h2>
          <ng-container i18n>New Medication Order for</ng-container>
          {{patient.firstName + ' ' + patient.lastName}}</h2>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="medicationForm" (ngSubmit)="submitForm()" class="form-horizontal">
          <div class="form-group row">
            <label for="drug-name" class="col-form-label col-sm-3 form-control-label" i18n>Drug name</label>
            <div class="col-sm-9">
              <input id="drug-name" nbInput fullWidth type="text" i18n-placeholder="Placeholder" placeholder="Drug name"
                     autocomplete="off"
                     [formControl]="medicationControl"
                     [nbAutocomplete]="auto"/>
              <nb-autocomplete #auto (selectedChange)="onDrugSelectionChange($event)"
                               [handleDisplayFn]="getMedicationName">
                <nb-option *ngFor="let medication of filteredMedications | async" [value]="medication">
                  {{ getMedicationName(medication) }}
                </nb-option>
              </nb-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-dose" class="col-form-label col-sm-3 form-control-label" i18n>Dose</label>
            <div class="col-sm-3">
              <input type="number" nbInput fullWidth id="drug-dose" i18n-placeholder="Placeholder" placeholder="Dose"
                     [formControl]="doseQuantityControl">
            </div>
            <label for="drug-dose-unit" class="col-form-label col-sm-2 form-control-label text-right" i18n>Units</label>
            <div class="col-sm-4">
              <nb-select fullWidth id="drug-dose-unit" i18n-placeholder="Placeholder" placeholder="Select a unit"
                         [formControl]="doseUnitControl">
                <nb-select-label>
                  {{ getUnitName() }}
                </nb-select-label>
                <nb-option *ngFor="let quantity of quantities" [value]="quantity">
                  {{quantity.extension[0].valueString}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="drug-frequency" class="col-form-label col-sm-3 form-control-label" i18n>Frequency</label>
            <div class="col-sm-9">
              <div class="form-group row">
                <div class="col-12">
                  <nb-radio-group [(value)]="dailyFrequencySelected">
                    <nb-radio [value]="dailyFrequencyType.everyday" i18n>Every day</nb-radio>
                    <nb-radio [value]="dailyFrequencyType.specificDays" i18n>Specific day(s)</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-12" *ngIf="dailyFrequencySelected === dailyFrequencyType.specificDays">
                  <ng-container [formGroup]="dayOfWeekGroup">
                    <ng-container *ngFor="let day of dayOfWeekArray">
                      <nb-checkbox class="form-check-inline" [formControlName]="day.value">{{ day.name }}</nb-checkbox>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="col-12 mt-3">
                  <nb-button-group (valueChange)="frequencySelected = $event[0]">
                    <button type="button" nbButtonToggle pressed [value]="frequencyType.timesPerDay" i18n>Times per day</button>
                    <button type="button" nbButtonToggle [value]="frequencyType.mealTime" i18n>At a meal time</button>
                    <button type="button" nbButtonToggle [value]="frequencyType.specificTimes" i18n>At specific times</button>
                  </nb-button-group>
                </div>
                <ng-container [ngSwitch]="frequencySelected">
                  <div class="col-12 mt-3" *ngSwitchCase="frequencyType.timesPerDay">
                    <nb-select fullWidth id="drug-frequency" i18n-placeholder="Placeholder"
                               placeholder="Select a frequency" [formControl]="frequencyControl">
                      <nb-option [value]="1" i18n>Once a day</nb-option>
                      <nb-option [value]="2" i18n>Twice a day</nb-option>
                      <nb-option [value]="3" i18n>Thrice a day</nb-option>
                      <nb-option [value]="4" i18n>Four times a day</nb-option>
                    </nb-select>
                  </div>
                  <div class="col-12 mt-3" *ngSwitchCase="frequencyType.mealTime">
                    <div class="row form-group" [formGroup]="whenGroup">
                      <div class="col-12 col-sm-4" *ngFor="let time of timesOfDayArray">
                        <nb-checkbox [formControlName]="time.value">{{ time.name }}</nb-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3" *ngSwitchCase="frequencyType.specificTimes">
                    <div class="row form-group">
                      <ng-container *ngFor="let control of timeOfDayFormArray.controls; let index = index">
                        <div class="col-9 col-sm-6">
                          <input nbInput fullWidth type="text"
                                 [formControl]="control"
                                 [nbTimepicker]="timepicker"/>
                          <nb-timepicker #timepicker></nb-timepicker>
                        </div>
                        <div class="col-3 col-sm-6">
                          <button class="mr-3" nbButton outline status="danger" (click)="removeTimeForm(index)"
                                  *ngIf="index !== 0 || timeOfDayFormArray.length > 1">
                            <nb-icon icon="minus"></nb-icon>
                          </button>
                          <button nbButton outline status="info" (click)="addTimeForm()"
                                  *ngIf="index === timeOfDayFormArray.length - 1">
                            <nb-icon icon="plus"></nb-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="drug-duration" class="col-form-label col-sm-3 form-control-label" i18n>Duration</label>
            <div class="col-sm-9">
              <div class="form-group row">
                <div class="col-12 mb-3">
                  <nb-button-group (valueChange)="durationSelected = $event[0]">
                    <button type="button" nbButtonToggle pressed [value]="durationType.duration" i18n>By amount of time</button>
                    <button type="button" nbButtonToggle [value]="durationType.period" i18n>By dates</button>
                    <button type="button" nbButtonToggle [value]="durationType.untilNext" i18n>Until next appointment</button>
                  </nb-button-group>
                </div>
                <ng-container [ngSwitch]="durationSelected">
                  <div class="col-12" *ngSwitchCase="durationType.duration">
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <input type="number" nbInput fullWidth id="drug-duration" i18n-placeholder="Placeholder" placeholder="Duration"
                               [formControl]="durationQuantityControl">
                      </div>
                      <label for="drug-duration-unit"
                             class="col-form-label col-4 col-sm-2 form-control-file text-right" i18n>Units</label>
                      <div class="col-8 col-sm-6">
                        <nb-select fullWidth id="drug-duration-unit" i18n-placeholder="Placeholder" placeholder="Select a time unit"
                                   [formControl]="durationUnitControl">
                          <nb-option value="d" i18n>Day(s)</nb-option>
                          <nb-option value="wk" i18n>Week(s)</nb-option>
                          <nb-option value="mo" i18n>Month(s)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngSwitchCase="durationType.period">
                    <div class="form-group row">
                      <label for="drug-duration-range" class="col-form-label col-sm-3 form-control-file text-right" i18n>Date range</label>
                      <div class="col-sm-9">
                        <input id="drug-duration-range" nbInput fullWidth i18n-placeholder="Placeholder" placeholder="Select a date range"
                               autocomplete="off"
                               [nbDatepicker]="rangePicker"
                               [formControl]="periodRangeControl">
                        <nb-rangepicker #rangePicker></nb-rangepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngSwitchCase="durationType.untilNext">
                    <div class="form-group row">
                      <label for="drug-duration-start-date"
                             class="col-form-label col-sm-3 form-control-file text-right" i18n>Next appointment date</label>
                      <div class="col-sm-9">
                        <input id="drug-duration-start-date" nbInput fullWidth i18n-placeholder="Placeholder" placeholder="Select a date"
                               autocomplete="off"
                               [nbDatepicker]="datepicker"
                               [formControl]="periodStartControl">
                        <nb-datepicker #datepicker></nb-datepicker>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-instructions" class="col-form-label col-sm-3 form-control-label" i18n>Instructions</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth id="drug-instructions" [formControl]="instructionsControl"></textarea>
            </div>
          </div>
          <div class="mt-4 form-group row">
            <div class="col-6 col-sm-8 text-right">
              <button type="button" nbButton status="basic" (click)="goBack()"
                      [disabled]="formStatus === formStatusType.loading || formStatus === formStatusType.success">
                <ng-container i18n>Cancel</ng-container>
              </button>
            </div>
            <div class="col-6 offset-sm-1 col-sm-3 text-right">
              <button type="submit" nbButton status="success"
                      [disabled]="formStatus === formStatusType.loading || formStatus === formStatusType.success">
                <ng-container i18n>Save</ng-container>
              </button>
            </div>
            <div class="col-12 mt-3 text-center" *ngIf="formStatus === formStatusType.error">
              <nb-alert accent="danger">
                <span i18n>There was a problem saving the record</span>
              </nb-alert>
            </div>
            <div class="col-12 mt-3" *ngIf="formStatus === formStatusType.success">
              <nb-alert accent="success">
                <div class="row">
                  <div class="col-7">
                    <span i18n>The record has been saved</span>
                  </div>
                  <div class="col-5 text-right">
                    <button type="button" nbButton status="success" (click)="goBack()" i18n="Return button">Return</button>
                  </div>
                </div>
              </nb-alert>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
