<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <h4 i18n>Blood glucose levels history</h4>
      </nb-card-header>
      <div echarts [options]="options" class="echart"></div>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <h4 i18n>Blood Glucose records</h4>
      </nb-card-header>
      <ng2-smart-table class="order-table"
                       #levelsTable
                       [settings]="settings"
                       [source]="source"
                       (custom)="handleCustomAction($event)">
      </ng2-smart-table>
      <nb-card-footer>
        <app-pagination-footer [results]="results"
                               (nextClicked)="nextObservations($event)"
                               (backClicked)="nextObservations($event)"
                               (firstClicked)="nextObservations()">
        </app-pagination-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
