<div class="form-group row div-striped">
  <label class="col-form-label col-sm-12 mb-3" i18n>When to measure</label>
  <div class="col-md-3 offset-md-3 py-2">
    <b i18n>Breakfast</b>
  </div>
  <div class="col-md-3 py-2">
    <b i18n>Lunch</b>
  </div>
  <div class="col-md-3 py-2">
    <b i18n>Dinner</b>
  </div>

  <ng-container [formGroup]="timingGroup">
    <ng-container *ngFor="let day of daysOfWeek; let index = index">
      <div class="col-md-3 py-3" [class.contrast]="index % 2 === 1">
        <b>{{ day.name }}</b>
      </div>
      <ng-container [formGroupName]="day.value">
        <div class="col-md-3" [class.contrast]="index % 2 === 1">
          <nb-checkbox class="form-check-inline" [formControlName]="timesOfDay[0].value" i18n>Before
          </nb-checkbox>
          <nb-checkbox class="form-check-inline" [formControlName]="timesOfDay[1].value" i18n>After
          </nb-checkbox>
        </div>
        <div class="col-md-3" [class.contrast]="index % 2 === 1">
          <nb-checkbox class="form-check-inline" [formControlName]="timesOfDay[2].value" i18n>Before
          </nb-checkbox>
          <nb-checkbox class="form-check-inline" [formControlName]="timesOfDay[3].value" i18n>After
          </nb-checkbox>
        </div>
        <div class="col-md-3" [class.contrast]="index % 2 === 1">
          <nb-checkbox class="form-check-inline" [formControlName]="timesOfDay[4].value" i18n>Before
          </nb-checkbox>
          <nb-checkbox class="form-check-inline" [formControlName]="timesOfDay[5].value" i18n>After
          </nb-checkbox>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
